## Functions

In [2]:
# Write a function that takes 2 arguments and returns greater of two

def greater_num(a,b):
    if(a>b):
        return a
    else:
        return b

In [3]:
greater_num(100,200)

200

In [4]:
greater_num(300,200)

300

## Lists

In [16]:
# Creating a list

marks = [37, 78, 56, 44, 70, 91, 82, 57, 59, 71]
print(marks)

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71]

In [17]:
# Access element
marks[4]

70

In [18]:
# Subsetting a list
marks[2:8]

[56, 44, 70, 91, 82, 57]

In [19]:
#Adding elements

marks.append(100)
marks

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71, 100]

In [20]:
marks.extend([80,70])
marks

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71, 100, 80, 70]

In [21]:
marks.append([20,21])
marks

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71, 100, 80, 70, [20, 21]]

In [22]:
marks.remove(100)
marks

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71, 80, 70, [20, 21]]

In [23]:
del marks[12]
marks

[37, 78, 56, 44, 70, 91, 82, 57, 59, 71, 80, 70]

In [24]:
# Looping over a list

for i in marks:
    print(i)

37
78
56
44
70
91
82
57
59
71
80
70

## Dictionaries

In [25]:
# Create a dictionary

marks={'History':60,'Geography':90,'Maths':75,'Science':80}
marks

{'History': 60, 'Geography': 90, 'Maths': 75, 'Science': 80}

In [26]:
# Access element
marks['Maths']

75

In [28]:
# Adding element

marks['English']=70
marks

{'History': 60, 'Geography': 90, 'Maths': 75, 'Science': 80, 'English': 70}

In [29]:
marks.update({'Sanskrit':95,'Hindi':65})
marks

{'History': 60,
 'Geography': 90,
 'Maths': 75,
 'Science': 80,
 'English': 70,
 'Sanskrit': 95,
 'Hindi': 65}

In [30]:
del marks['Science']
marks

{'History': 60,
 'Geography': 90,
 'Maths': 75,
 'English': 70,
 'Sanskrit': 95,
 'Hindi': 65}